
@import url("reset.css");

body{
    background-color: gray;
}

#diceroller{
    text-align: center;   
}

.diceCard{
    display: inline-block;
 background-color: honeydew;
   
    width:160px;
    text-align: center;
}

.dice{
    width:100px;
    h
    
    eight:100px;
}

.hide{
    display: none;
}

.result{
    text-align: center;
    color: white;
}

#drawDice{
    position: relative;
    width: 512px;
    height: 512px;
}